[init]
	defaultBranch = main
[user]
	email = 95515854+brandon-kong@users.noreply.github.com
	name = Brandon Kong
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
